/*.pdf
/*.csv
/*.json
db.sqlite3
/*.idea
/*.zip
/*.tar.gz
env/
.idea/
.vscode/
### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

### Python ###
# Byte-compiled / optimized / DLL files
*__pycache__/
*.py[cod]