{% extends 'base.html' %}

{% block content %}
<h1>Sites</h1>

    <a href="{% url 'create_site' %}">Ajouter</a>
    {% if messages %}
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
  {% endif %}
<ul class="list-group">
    {% for site in sites  %}
                <li class="list-group-item">{{ site.name }} - {{ site.url }}
                    <a href="{% url 'update_site' pk=site.pk %}">Editer</a>
                <span> - </span>
                    <a href="{% url 'delete_site' pk=site.pk %}">Supprimer</a>
                </li>
    {% endfor %}
</ul>
    <button onclick="location.href='{%  url 'export_csv' %}'" type="button">Export CSV</button>
{% endblock %}
