{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Sites</h1>
    {% if messages %}
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
  {% endif %}
<ul class="list-group">
    {% for site in sites  %}
        <li class="list-group-item">{{ site.name }} - {{ site.url }} <a href="{% url 'update_site' pk=site.pk %}">Update infos</a></li>
    {% endfor %}
</ul>
{% endblock %}
{% block script %}
  <!-- Inclure le script externe -->
  <script src="{% static 'js/script.js' %}"></script>
{% endblock %}
