{% extends 'base.html' %}

{% block content %}
<h1>Mes mots de passe</h1>
    {% if messages %}
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
  {% endif %}
<ul class="list-group">
    {% for site in sites  %}
      <li class="list-group-item list-group-item-action">{{ site.name }} - {{ site.url }}
          <a href="{% url 'update_site' pk=site.pk %}">Editer</a>
      <span> - </span>
          <a href="{% url 'delete_site' pk=site.pk %}">Supprimer</a>
      </li>
    {% endfor %}
</ul>
{% endblock %}
