{% extends 'base.html' %}
{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
<div class="card p-4">
    <h4 class="card_header">Mise à jour des détails de mon site</h4>
    <div class="card-body">
        <p class="card-text">
          <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-outline-primary">
                    Envoyer
                </button>
            {% endbuttons %}
            </form>
        </p>
    </div>
</div>
{% endblock %}
